.input-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.input {
  max-width: 50vw;
  min-width: 500px;
  height: 30px;
  padding: 8px;
  border-radius: 12px;
}

.error {
  color: red;
  font-size: 12px;
}
